<section class="about">
  <div class="container">
    <div class="about-left-side-wrap"></div>
    <div class="about-right-side-wrap">
      <h2 class="about-title"><span>ЧОМУ ВАРТО</span> ОБРАТИ НАС:</h2>
      <ul class="about-list description-list">
        <li class="about-item description-item">
          <p class="about-list-text">
            Навчаємо по затвердженій державній програмі
          </p>
        </li>
        <li class="about-item description-item">
          <p class="about-list-text">
            У нас досвідчені інструктори та нові автомобілі
          </p>
        </li>
        <li class="about-item description-item">
          <p class="about-list-text">
            Ви отримаєте чудове знання теорії та Впевненість за кермом!
          </p>
        </li>
        <li class="about-item description-item">
          <p class="about-list-text">Наші тарифи без додаткових витрат</p>
        </li>
        <li class="about-item description-item">
          <p class="about-list-text">З першого по останній крок - Ми з Вами!</p>
        </li>
      </ul>
    </div>
  </div>
</section>
