<section class="section category-section">
  <h2 class="visually-hidden">Автошкола Тетіїв</h2>
  <div class="container">
    <h2 class="section-title" data-aos="fade-down" data-aos-duration="500">
      Чому ми рекомендуємо Автошколу «DRIVER»?
    </h2>
    <div class="wrapper-category">
      <ul class="description-list" data-aos="fade-up" data-aos-duration="1500">
        <li class="description-item">
          <p>Досвідчений колектив та висока якість освіти.</p>
        </li>

        <li class="description-item">
          <p>Індивідуальний підхід до кожного учня.</p>
        </li>
        <li class="description-item">
          <p>
            Навчання теорії в сучасному класі, що знаходиться в самому центрі
            міста.
          </p>
        </li>
        <li class="description-item">
          <p>Уроки з водіння на справних та доглянутих автомобілях.</p>
        </li>
        <li class="description-item">
          <p>
            Повний супровід від першого уроку до отримання посвідчення водія в
            ТСЦ.
          </p>
        </li>
      </ul>
      <div class="inner-category" data-aos="flip-left" data-aos-duration="1500">
        <h3 class="category-title">Категорії</h3>
        <ul class="category-list">
          <li class="category-tem"><span class="category-text">«A»</span></li>
          <li class="category-tem"><span class="category-text">«A1»</span></li>
          <li class="category-tem"><span class="category-text">«B»</span></li>
          <li class="category-tem"><span class="category-text">«C»</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
