<section class="section">
  <div class="container container-cost">
    <div class="wrapper-cost">
      <p class="best-cost">Краща ціна</p>
      <div class="inner-description-cost">
        <h2 class="section-title">Вартість</h2>
        <ul class="description-list">
          <li class="description-item">
            Вартість теоретичного навчання
            <span class="cost-text">4000</span> гривень
          </li>
          <li class="description-item">Можливість оплати частинами</li>
          <li class="description-item">
            Вартість практичного навчання —
            <span class="cost-text">400</span> грн, одне зайняття
          </li>
        </ul>
      </div>
      <img class="img-coins" src="img/coins.png" alt="wallet" />
    </div>
    <button class="call-btn">Залишити заявку на навчання</button>
  </div>
</section>
