<section class="section credit-section">
  <h2 class="visually-hidden">Автошкола Тетіїв</h2>
  <div class="container information-container">
    <h2 class="section-title" data-aos="zoom-in-up" data-aos-duration="1000">
      Лояльна система оплати
    </h2>
    <div class="wrapper-credit">
      <div
        class="credit-information"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <h3 class="credit-information-title">Оплата частинами/розстрочка</h3>
        <p class="credit-information-pre">
          Ми завжди <span class="accent-bold-text">йдемо назустріч</span> нашим
          учням
        </p>
        <p>
          Ви можете оплатити
          <span class="accent-bold-text">повну вартість</span> за навчання, або
          <span class="accent-bold-text">розділити оплату</span> на рівні
          частини
          <span class="accent-bold-text">протягом навчального періоду!</span>
        </p>
        <button class="call-btn information-btn" data-modal-order-open>
          То що? Поїхали!?
        </button>
      </div>
    </div>
  </div>
</section>
