<section class="section credit-section">
  <div class="container information-container">
    <h2 class="section-title" data-aos="zoom-in-up" data-aos-duration="1000">
      Оплата частинами/розстрочка
    </h2>
    <div class="wrapper-credit">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p class="pre-title-credit">Перший платіж за навчання 4000грн!</p>
      </div>
      <div
        class="credit-information"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <h3 class="credit-information-title">Лояльна система оплати</h3>
        <p class="credit-information-pre">
          Ми завжди <span class="accent-bold-text">йдемо назустріч</span> нашим
          учням
        </p>
        <p>
          Ви можете внести
          <span class="accent-bold-text">повну вартість</span> навчання, або
          <span class="accent-bold-text">розбити оплату</span> на рівні частини,
          <span class="accent-bold-text">протягом навчання!</span>
        </p>
        <button class="call-btn information-btn" data-modal-order-open>То що? Поїхали!?</button>
      </div>
    </div>
  </div>
</section>
