<section>
  <div class="container">
    <div class="wrapper-exam">
      <h2 class="section-title">
        <span class="pre-section-title">Впевнена здача</span> іспитів в ТСЦ МВС
      </h2>
      <p class="info-exam">
        <span class="info-accent">Готуємо до іспитів</span> на отримання
        водійського посвідчення з
        <span class="info-accent">100%</span> позитивним результатом
      </p>
      <ul class="description-list">
        <li class="description-item">Два іспита: внутрішній і в ТСЦ МВС</li>
        <li class="description-item">Беремо на себе всю організацію</li>
        <li class="description-item">Готуємо необхідні документи</li>
      </ul>
      <button class="call-btn exam-btn-mobile">Залишити заявку</button>
    </div>
  </div>
  <div class="exam-additional">
    <p class="additional-text-exam">
      Отримати <span class="info-accent">посвідчення водія</span> виявилося
      простіше, ніж обрати автомобіль 🙌
    </p>
    <button class="call-btn exam-btn-tablet">Залишити заявку</button>
    <img class="car-img-left" src="./img/mersedes2.png" alt="car" />
    <img class="car-img-right" src="./img/bmw2.png" alt="car" />
  </div>
</section>
