<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <a href="./index.html" class="logo footer-logo"><img class="logo-img" src="./img/logo.png" alt=""></a>
      <div class="footer-right-wrap">
        <address class="footer-contacts">
          <a href="tel:+380681232000" class="footer-tel">+38 (068) 123 2000</a>
          <a
            href="https://www.google.com/maps/@48.7499524,30.2246736,3a,75y,213.49h,90t/data=!3m6!1e1!3m4!1sDowp__sTrNJXWPTXJZj0Vg!2e0!7i13312!8i6656?entry=ttu"
            class="footer-location"
            > м. Тетіїв, вул. Соборна 3</a
          >
        </address>
        <ul class="footer-oder-list">
          <li class="order-item">
            <button class="order-btn" type="button" data-order-modal-open>Замовити дзвінок</button>
          </li>
          <li class="order-item">
            <button class="order-btn" type="button" data-order-modal-open>Записатись on-line</button>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">Всі права захищенні Автошкола «Драйвер» © 2023</p>
  </div>
</footer>
