<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <a
        href="./index.html"
        class="logo footer-logo"
        aria-label="Go to main page"
        ><img
          class="logo-img"
          src="./img/logo-mega-min.webp"
          alt=""
          width="150"
          height="55"
      /></a>
      <div class="footer-right-wrap">
        <address class="footer-contacts">
          <a href="tel:+380681232000" class="footer-tel">+38 (068) 123 2000</a>
          <a
            target="_blank"
            href="https://maps.app.goo.gl/eoj72PFg8UrvQFhk7"
            class="footer-location"
          >
            м. Тетіїв, вул. Соборна 3</a
          >
        </address>
        <ul class="footer-oder-list">
          <li class="order-item">
            <button
              class="order-btn"
              type="button"
              data-modal-order-open
              data-title="call"
            >
              Замовити дзвінок
            </button>
          </li>
          <li class="order-item">
            <button class="order-btn" type="button" data-modal-order-open>
              Записатись on-line
            </button>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">Всі права захищенні Автошкола «Драйвер» © 2023</p>
  </div>
</footer>
