<header class="header" data-aos="fade-down">
  <div class="container header-container">
    <a
      href="./index.html"
      class="logo header-logo"
      aria-label="Go to main page"
    >
      <img class="logo-img" src="./img/logo-min.webp" alt="car" width="150" height="55"/>
    </a>
    <ul class="header-oder-list">
      <li class="order-item">
        <button
          class="order-btn"
          type="button"
          data-modal-order-open
          data-title="call"
        >
          Замовити дзвінок
        </button>
      </li>
      <li class="order-item">
        <button class="order-btn" type="button" data-modal-order-open>
          Записатись on-line
        </button>
      </li>
    </ul>
    <address class="header-contacts">
      <a href="tel:+380681232000" class="header-tel">+38 (068) 123 2000</a>
      <a
        target="_blank"
        href="https://maps.app.goo.gl/eoj72PFg8UrvQFhk7"
        class="header-location"
      >
        м. Тетіїв, вул. Соборна 3</a
      >
    </address>
  </div>
</header>
