<header class="header" data-aos="fade-down">
  <div class="container header-container">
    <a href="./index.html" class="logo header-logo">
      <img class="logo-img" src="./img/logo.png" alt="" />
    </a>
    <ul class="header-oder-list">
      <li class="order-item">
        <button class="order-btn" type="button" data-order-modal-open>Замовити дзвінок</button>
      </li>
      <li class="order-item">
        <button class="order-btn" type="button" data-order-modal-open>Записатись on-line</button>
      </li>
    </ul>
    <address class="header-contacts">
      <a href="tel:+380681232000" class="header-tel">+38 (068) 123 2000</a>
      <a
        href="https://www.google.com/maps/@48.7499524,30.2246736,3a,75y,213.49h,90t/data=!3m6!1e1!3m4!1sDowp__sTrNJXWPTXJZj0Vg!2e0!7i13312!8i6656?entry=ttu"
        class="header-location"
      >
        м. Тетіїв, вул. Соборна 3</a
      >
    </address>
  </div>
</header>
