<section class="hero">
  <div class="container hero-container">
    <div class="hero-main-wrap">
      <div
        class="hero-left-side-wrap"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <h2 class="hero-title">
          ОТРИМАЙТЕ ПОСВІДЧЕННЯ ВОДІЯ КАТЕГОРІЇ<br />
          <span class="accent">«A»</span>, <span class="accent">«A1»</span>,
          <span class="accent">«В»</span>, <span class="accent">«C»</span
          ><br />ВЖЕ ЧЕРЕЗ
          <span class="hero-title-accent">10 ТИЖНІВ!</span>
        </h2>
        <p class="hero-text">
          Перший внесок оплати <span class="hero-text-bold">4000 грн</span>
        </p>
        <h1 class="hero-text-bold">Сучасна автошкола у місті Тетіїв</h1>
        <button class="hero-button call-btn" data-order-modal-open>Записатись на навчання</button>
      </div>
      <div class="hero-right-side-wrap">
        <img
          src="./img/ten.png"
          alt="Car"
          class="hero-img-number"
          data-aos="flip-up"
          data-aos-duration="1000"
        />
        <img
          src="./img/week.png"
          alt="Car"
          class="hero-img-week"
          data-aos="fade-left"
          data-aos-duration="1000"
        />
        <img
          src="./img/camry.png"
          alt="Car"
          class="hero-img-car"
          data-aos="fade-left"
          data-aos-duration="1000"
        />
      </div>
    </div>
    <ul class="hero-descr-list" data-aos="fade-up" data-aos-duration="1000">
      <li class="hero-descr-item">
        Сучасний навчальний клас в самому центрі міста
      </li>
      <li class="hero-descr-item">Професійні інструктори</li>
      <li class="hero-descr-item">Індивідуальне навчання</li>
      <li class="hero-descr-item">Оплата частинами</li>
    </ul>
  </div>
</section>
