<section class="hero">
  <div class="container hero-container">
    <div class="hero-left-side-wrap">
      <h2 class="hero-title">
        ОТРИМАЙТЕ ПОСВІДЧЕННЯ ВОДІЯ КАТЕГОРІЇ<br>
        <span class="accent">«A»</span>,
        <span class="accent">«A1»</span>,
        <span class="accent">«В»</span>,
        <span class="accent">«C»</span><br>ВЖЕ ЧЕРЕЗ
        <span class="hero-title-accent">10 ТИЖНІВ!</span>
      </h2>
      <p class="hero-text">
        Перший внесок оплати <span class="hero-text-bold">4000 грн</span>
      </p>
      <h1 class="hero-text-bold">Сучасна автошкола у місті Тетіїв</h1>
      <button class="hero-button call-btn">Записатись на навчання</button>
    </div>
    <div class="hero-right-side-wrap">
      <p class="hero-number">10</p>
      <p class="hero-bg-text hero-text-bold">Тижнів</p>
      <img src="./img/tesla.png" alt="Car" class="hero-image" />
    </div>
  </div>
</section>
