<section class="hero">
  <div class="container hero-container">
    <div class="hero-main-wrap">
      <div
        class="hero-left-side-wrap"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      <h1 class="visually-hidden">Автошкола Тетіїв</h1>
        <p class="hero-title">
          ОТРИМАЙТЕ ПОСВІДЧЕННЯ ВОДІЯ КАТЕГОРІЇ<br />
          <span class="accent">«A»</span>, <span class="accent">«A1»</span>,
          <span class="accent">«В»</span>, <span class="accent">«C»</span
          ><br />ВЖЕ ЧЕРЕЗ
          <span class="hero-title-accent">8 ТИЖНІВ!</span>
        </h2>
        <p class="hero-text">
          Перший внесок оплати <span class="hero-text-bold">4000 грн</span>
        </p>
        <h1 class="hero-text-bold">Сучасна автошкола у місті Тетіїв</h1>
        <button class="hero-button call-btn" data-order-modal-open>
          Записатись на навчання
        </button>
      </div>
      <div class="hero-right-side-wrap">
        <img
          src="./img/8.2.png"
          alt="Car"
          class="hero-img-number"
          data-aos="zoom-in-up"
          data-aos-duration="1500"
        />
        <!-- <p class="hero-number" data-aos="flip-up"
        data-aos-duration="1000">8</p> -->
        <img
          src="./img/week.png"
          alt="Car"
          class="hero-img-week"
          data-aos="fade-left"
          data-aos-duration="1500"
        />
        <img
          src="./img/camry.png"
          alt="Car"
          class="hero-img-car"
          data-aos="zoom-in-up"
          data-aos-duration="500"
        />
      </div>
    </div>
    <ul class="hero-descr-list">
      <li class="hero-descr-item">
        Сучасний навчальний клас в самому центрі міста
      </li>
      <li class="hero-descr-item">Професійні інструктори</li>
      <li class="hero-descr-item">Індивідуальне навчання</li>
      <li class="hero-descr-item">Оплата частинами</li>
    </ul>
    <button class="btn-to-top scrollToTopBtn">
      <svg class="hero__row-svg" width="48" height="48">
        <use href="./img/icons.svg#icon-top"></use>
      </svg>
    </button>
  </div>
</section>
