<section class="section">
  <h2 class="visually-hidden">Автошкола Тетіїв</h2>
  <div class="map-container">
    <div class="inner-map">
      <iframe
        class="map-iframe"
        title="Як нас знайти на карті"
        id="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1230.1668815491141!2d29.675861770041656!3d49.37299275315411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d2e7411660612f%3A0xb71751846267455f!2z0JDQstGC0L7RiNC60L7Qu9CwICLQlNGA0LDQudCy0LXRgCI!5e1!3m2!1sru!2sua!4v1696098226187!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="about" id="about">
        <div class="about-inner-container" id="inner">
          <h2 class="about-title">Контакти</h2>
          <p class="about-text">
            <span class="about-text-accent">Запрошуємо</span> до нас на навчання
          </p>
          <p class="about-text">
            <span class="about-text-accent">Адреса:</span>
            <a
              class="about-link"
              href="https://maps.app.goo.gl/eoj72PFg8UrvQFhk7"
              target="_blank"
              >м. Тетіїв, вул. Соборна 3</a
            >
          </p>
          <p class="about-text">
            <span class="about-text-accent">Телефон:</span
            ><a class="about-link" href="tel:+380681232000">
              +38 (068) 123 2000</a
            >
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a class="social-list-link" href="#"
                ><img
                  src="./img/instagram1.webp"
                  alt="icon instagram"
                  width="50"
                  height="50"
              /></a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link" href="#"
                ><img
                  src="./img/facebook.webp"
                  alt="icon facebook"
                  width="50"
                  height="50"
              /></a>
            </li>
          </ul>
        </div>
        <button class="btn-phone" id="btn-phone">
          <img
            id="img-phone"
            class="img-phone"
            src="./img/phone-green.webp"
            alt="phone"
            width="50"
            height="50"
          />
        </button>
      </div>
    </div>
  </div>
</section>
