<section class="section">
  <div class="map-container">
    <div class="inner-map">
      <iframe
        class="map-iframe"
        id="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1580.6904524929241!2d29.676441876680748!3d49.37127869533165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d2e74e7be17435%3A0x2404d44635723c4f!2z0LLRg9C70LjRhtGPINCh0L7QsdC-0YDQvdCwLCAzLCDQotC10YLRltGX0LIsINCa0LjRl9Cy0YHRjNC60LAg0L7QsdC7LiwgMDk4MDA!5e1!3m2!1sru!2sua!4v1695418404716!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="about" id="about">
        <div class="about-inner-container" id="inner">
          <h2 class="about-title">Контакти</h2>
          <p class="about-text">
            <span class="about-text-accent">Запрошуємо</span> до нас на навчання
          </p>
          <p class="about-text">
            <span class="about-text-accent">Адреса:</span>
            <a
              class="about-link"
              href="https://maps.app.goo.gl/zCBeBsYM1ux5pzEx5"
              target="_blank"
              >м. Тетіїв, вул. Соборна 3</a
            >
          </p>
          <p class="about-text">
            <span class="about-text-accent">Телефон:</span
            ><a class="about-link" href="tel:+380681232000">
              +38 (068) 123 2000</a
            >
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a class="social-list-link" href="#"
                ><img src="./img/instagram.png" alt="icon instagram"
              /></a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link" href="#"
                ><img src="./img/facebook.png" alt="icon facebook"
              /></a>
            </li>
          </ul>
        </div>
        <button class="btn-phone" id="btn-phone">
          <img
            id="img-phone"
            class="img-phone"
            src="./img/phone-green.png"
            alt="phone"
          />
        </button>
      </div>
    </div>
  </div>
</section>
