<div class="backdrop is-hidden" data-order-modal>
  <div class="modal">
    <button class="close-modal-btn" data-order-modal-close></button>
    <h2 class="modal__title">ЗАПИСАТИСЬ НА НАВЧАННЯ</h2>
    <div class="input-wrap">
      <input class="input-name modal-input" id="name" type="text" />
      <label class="label-name modal-label" for="name">Ім'я</label>
    </div>
    <div class="input-wrap">
      <input class="input-tel modal-input" id="tel" type="text" />
      <label class="label-tel modal-label" for="tel">Телефон</label>
    </div>
    <button class="modal-submit-btn call-btn">Надіслати заявку</button>
  </div>
</div>
