<div class="backdrop is-hidden" data-order-modal>
  <div class="modal">
    <form id="form" action="send_mail.php" name="form" method="POST">
      <button type="button" class="close-modal-btn" data-order-modal-close></button>
      <h2 class="modal__title">ЗАПИСАТИСЬ НА НАВЧАННЯ</h2>
      <div class="input-wrap">
        <input
          class="input-name modal-input"
          id="name"
          type="text"
          name="name"
          placeholder=" "
        />
        <label class="label-name modal-label" for="name">Ім'я</label>
      </div>
      <div class="input-wrap">
        <input
          class="input-tel modal-input"
          id="tel"
          type="text"
          name="phone"
          placeholder=" "
        />
        <label class="label-tel modal-label" for="tel">Телефон</label>
      </div>
      <button class="modal-submit-btn call-btn">Надіслати заявку</button>
    </form>
  </div>
</div>
