<div class="backdrop is-hidden" data-modal-order>
  <div class="modal">
    <form class="form" id="form"  name="form" >
      <button type="button" class="close-modal-btn" data-modal-order-close></button>
      <h2 class="modal__title">ЗАПИСАТИСЬ НА НАВЧАННЯ</h2>
      <div class="input-wrap">
        <input
          class="input-name modal-input"
          id="name"
          type="text"
          name="name"
          placeholder=" "
        />
        <label class="label-name modal-label" for="name">Ім'я</label>
      </div>
      <div class="input-wrap">
        <input
          class="input-tel modal-input"
          id="tel"
          type="text"
          name="phone"
          placeholder=" "
        />
        <label class="label-tel modal-label" for="tel">Телефон</label>
      </div>
      <button type="submit" class="modal-submit-btn call-btn" data-modal-order-close>Надіслати заявку</button>
    </form>
  </div>
</div>
