<section class="practice section">
  <div class="container">
    <div class="wrapper-practice">
      <div class="description-practice">
        <h2 class="section-title">ПРАКТИЧНЕ КЕРУВАННЯ</h2>
        <ul class="description-list">
          <li class="description-item">
            Оплата одразу або кожне водіння окремо
          </li>
          <li class="description-item">Гнучкий графік уроків з інструктором</li>
          <li class="description-item">
            Автомобілі механ/автомат коробки передач
          </li>
          <li class="description-item">
            Індивідуальне навчання, відновлення навичок - 450 грн!
          </li>
          <li class="description-item">
            Вартість 400 грн для учнів автошколи, бензин включно!
          </li>
        </ul>
        <button class="call-btn">Хочу їздити</button>
      </div>
      <img class="practice-img" src="img/audi.png" alt="car" />
    </div>
  </div>
</section>
