<section class="section schedule-section">
  <div class="container">
    <h2 class="section-title">РОЗКЛАД ЗАНЯТЬ ГРУП</h2>
    <h3 class="pre-title-schedule">
      Оберіть зручний для вас
      <span class="accent-bold-text">графік навчання!</span>
    </h3>
    <ul class="schedule-list">
      <li class="schedule-item">
        <h4 class="title-block">Денна група</h4>
        <ul class="day-list">
          <li class="day-item">Пн</li>
          <li class="day-item">Вт</li>
          <li class="day-item">Ср</li>
          <li class="day-item">Чт</li>
          <li class="day-item">Пт</li>
        </ul>
      </li>
      <li class="schedule-item">
        <h4 class="title-block">Вечірня група</h4>
        <ul class="day-list">
          <li class="day-item">Пн</li>
          <li class="day-item">Вт</li>
          <li class="day-item">Ср</li>
          <li class="day-item">Чт</li>
          <li class="day-item">Пт</li>
        </ul>
      </li>
      <li class="schedule-item">
        <h4 class="title-block">Група вихідного дня</h4>
        <ul class="day-list">
          <li class="day-item">Сб</li>
          <li class="day-item">Нд</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
