:root {
    --main-text-color: #262626;
    --accent-color: #ff0624;
    --main-text-color: #0d0d0d;
    --main-text-color: #666666;
    --button-bg-color: #1db428;
}

body {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 16px;
}

.container {

}