.practice {
  background: linear-gradient(
      to top,
      rgba(13, 13, 13, 1),
      rgba(13, 13, 13, 0.9),
      rgba(13, 13, 13, 0.9),
      rgba(13, 13, 13, 1)
    ),
    url('https://images.pexels.com/photos/14823463/pexels-photo-14823463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center center;
}

.wrapper-practice {
  text-align: center;

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}

.description-practice {
  @media screen and (min-width: 1280px) {
    text-align: start;
  }
}

.practice-img {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    width: 650px;
  }
}
